body {
  margin: 0;
  font-family: var(--fonte-base);
  background-color: var(--cor-fundo);
  color: var(--cor-texto);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background-color: var(--cor-principal);
  color: var(--cor-branca);
  text-align: center;
  padding: var(--espaco-med) 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

header h1 {
  margin: 0;
  font-size: 1.6rem;
}


nav ul {
  list-style: none;
  padding: 0;
  margin: var(--espaco-peq) 0 0 0;
  display: flex;
  justify-content: center;
  gap: var(--espaco-grd);
}

nav a {
  color: var(--cor-branca);
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: var(--cor-secundaria);
}


main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--espaco-grd);
}

main section {
  background-color: var(--cor-branca);
  padding: var(--espaco-grd);
  border-radius: var(--borda-arred);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  max-width: 700px;
  width: 100%;
  margin-bottom: var(--espaco-med);
  text-align: center;
}


footer {
  background-color: var(--cor-secundaria);
  color: var(--cor-branca);
  text-align: center;
  padding: var(--espaco-peq);
  font-size: 0.9rem;
}
